/*
Instant Search css

*/

.ais-search-box--magnifier-wrapper {
    display: none !important;
}
.ais-search-box--input {
    padding: 0 15px !important;
    border: 0 !important;
    background-color: #f5f5f5 !important;
    color: #606060 !important;
    height: 40px !important;
    width: 100% !important;
    font-size: 14px !important;
}